.carousel-img{
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
    
}
.carousel-head{
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    color: #52c1ed;
    font-family: 'Yekan', sans-serif
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}